h1{
    color: red;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
a{
    color: red;
    font-size: 2em;
}